@font-face {
  font-family: 'ProductSansRegular';
  src: local('ProductSansRegular'),url("./fonts/ProductSans-Regular.ttf");
}
@font-face {
  font-family: 'ProductSansBold';
  src: local('ProductSansBold'),url("./fonts/ProductSans-Bold.ttf");
}
@font-face {
  font-family: 'ProductSansItalic';
  src: local('ProductSansItalic'),url("./fonts/ProductSans-Italic.ttf");
}
@font-face {
  font-family: 'ProductSansThin';
  src: local('ProductSansThin'),url("./fonts/ProductSans-Thin.ttf");
}
@font-face {
  font-family: 'ProductSansLightItalic';
  src: local('ProductSansLightItalic'),url("./fonts/ProductSans-LightItalic.ttf");
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
